[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  suppress_multiple_term_dialog = True
  title_font = Droid Sans Mono Slashed 9
  title_use_system_font = False
  window_state = maximise
[keybindings]
  next_tab = <Primary>Right
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_image = None
    cursor_color = "#b4aaaa"
    font = Sans 14
    scrollback_infinite = True
